body {
    background-image: url(images/weather.jpg);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
}

hr {
    width: 95%;
    margin: auto;
    border-top: 1px dotted;
}

.jumbotron{
    background: linear-gradient(to bottom right, rgb(17, 16, 85) , rgb(74, 76, 80));
    opacity: 0.8;
    height: 180px;
    border-radius: 0px;
}

.heading {
    font-weight: 700;
    text-align: center;
    color: rgb(219, 219, 219);
}

.wrapper-1 {
    width: 10%;
    margin: 30px;
    float: left;
}

.wrapper-2 {
    min-width: 80%;
    float: left;
}

.search {
    min-width: 300px;
    opacity: 0.8;
}

#history {
    background: linear-gradient(to bottom right, rgb(179, 179, 185) , rgb(58, 37, 107));
    padding: 5px;
    font-weight: bolder;
}

.list-group {
    background: linear-gradient(to bottom right, rgb(179, 179, 185) , rgb(58, 37, 107));
    color:black;
    padding: 5px;
}

.city-card {
    width: 40%;
}

#current-city {
    border-style: solid;
    width: 80%;
    height: 300px;
    float: right;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgb(17, 16, 85) , rgb(74, 76, 80));
    opacity: 0.6;
    color: rgb(219, 219, 219);
}

.city-name {
    margin: 20px;
    font-weight: 500;
}

.todays-weather {
    margin: 20px;
}

#forecast {
    width: 80%;
    height: 250px;
    float: right;
}

.card {
    display: inline-block;
    min-width: 19%;
    height: 200px;
    background: linear-gradient(to bottom right, rgb(17, 16, 85) , rgb(74, 76, 80));
    opacity: 0.6;
    color: rgb(219, 219, 219);
    font-size: 20px;
}

.temp1, .humid1, .temp2, .humid2, .temp3, .humid3, .temp4, .humid4, .temp5, .humid5 {
    font-size: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(17, 16, 85) , rgb(74, 76, 80));
    opacity: 0.8;
    color: white;
    text-align: center;
  }